
body  {
    background:url(../images/rain.gif);
    background-size:cover;
    font-family:Roboto Condensed;
  }
  #title  {
    font-family: Amatic SC;
    font-size: 30pt;
    background-image : url(../images/jore.jpg);
    border: 3px inset black;
    border-radius:20pt;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    padding: 10pt;
    width:25%;
    box-shadow: 3pt 3pt 3pt black;
    color: white;
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000, 1px 0px 0 #000,
    2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 
    1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;
  }
  #subtitle  {
    font-family: Amatic SC;
    font-size: 14pt;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    margin-top: -50pt;
    margin-bottom: 4%;
    width:18%;
    color: white;
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000, 1px 0px 0 #000,
    2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 
    1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;
  }
  #block1 {
    background-color:rgba(0, 0, 0, 0.493);
    color:rgb(255, 255, 255);
    border-radius:20pt;
    margin: auto;
    padding: 20pt;
    width: 25%;
    margin-bottom: 2%;
    box-shadow: 5px 5px 5px black;
  }
  #b1title {
    font-size: 12pt;
    padding: 2pt;
    text-align: center;

  }
  #b1content {
    font-size: 12pt;
    font-weight: 400;
    padding: 2pt;
  }
  .dropdown {
    background-image: url(/jore-toatemarama.github.io/images/jore.jpg);
    -webkit-appearance: none;
    font-size: 25pt;
    font-family: Amatic SC;
    background-color:rgba(0, 0, 0, 0.199);
    color:rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius:20pt;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 4px 4px 4px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    color: white;
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000, 1px 0px 0 #000,
    2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 
    1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;

  }
  .dropdown-content {
    font-family: Amatic SC;
    font-size: 20pt;
    background-color:rgba(0, 0, 0, 0.747);
    color:rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius:20pt;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px black;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    position: absolute;
    width: 100%;
    overflow: auto;
    z-index: 1;
    
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a {
    display: block;
    color: #f7f2f2;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #e6bf10;
  }
  .button {
    user-select: none;
    justify-content: center;
    align-items: center;
    font-family: Amatic SC;
    background-color:transparent;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 39pt;
    cursor: pointer;
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000, 1px 0px 0 #000,
    2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 
    1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;

  }
  #rain {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #returnbutton {
    font-family: Amatic SC;
    font-size: 25pt;
    background-color:rgba(0, 0, 0, 0.493);
    color:rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius:20pt;
    margin: auto auto auto 600pt;
    display: flex;
    padding: 20pt;
    width: 10%;
    box-shadow: 5px 5px 5px black;
    text-shadow: -1pt -1pt black;
  }

  a:link, a:visited,  a:hover, a:active {
    color: #ffffff;
    text-decoration: none;
  }